.landingpage {
        background: #79a6d2;
        text-align: left; 
}
.landingpage h2 {
        opacity: 0.5;
}

.aboutpage {
        text-align: center;
        
}

.skills {
        background: #79a6d2;
        text-align: center;
        
}

.projects {
        
        color: black;
}

.contacts {
        background: #79a6d2;
        text-align: center;
        
        padding: 15px;
}

.landingfiller {
        width:100%;
        height:100vh;
        background-size:cover;
}

.filler {
        width:100%;
        height:100%;
        background-size:cover;
}

.progress {
        height: 2.25rem;
        
        margin: 40px;
}

.speech-bubble {
	position: relative;
	background: #FF69B4;
        border-radius: .4em;
        margin: 30px;
        height: 70px;
        width: 80%;
}

.s-m {
        text-align: center;
        padding: 10px 0;
        background: #343a40;
        height: 60px;
        
}

.s-m a {
        display: inline-flex;
        width: 40px;
        height: 40px;
        background: #FF69B4 ;
        color: white;
        margin: 0 6px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        font-size: 22px;
}

s-m a:hover {
        background: blue;
}

.s-m a i {
        transition: 0.2s all;
}

.s-m a:hover > i{
        transform: scale(1.6) rotate(25deg);
}

html {
        scroll-behavior: smooth;
      }