.landingpage {
        text-align: center;
        font-family: 'Courier New', Courier, monospace
        }

.aboutpage {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        background: #79a6d2;
        border-top: solid;
        border-bottom: solid;
        border-color:black;
        border-width: medium;
        height: 100vh;
        width: 100vw;
        margin-bottom: 0px;

        }

.next {
        border-top: solid;
        border-bottom: solid;
        border-color:black;
        border-width: medium; 
        background: white;
}



